.application.sheet.espers.magic-arts .magic-arts-header {
  display: flex;
  align-items: center;
}
.application.sheet.espers.magic-arts .magic-arts-header .image {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
}
.application.sheet.espers.magic-arts .magic-arts-header h1 {
  margin: 0 auto;
}
.application.sheet.espers.magic-arts .magic-arts-header h1 input {
  font-size: 32px;
  height: 42px;
  text-align: center;
  transition: all 0.3s ease;
  outline: 2px solid transparent;
  border: 1px solid transparent;
}
.application.sheet.espers.magic-arts .magic-arts-header h1 input:hover[type=text], .application.sheet.espers.magic-arts .magic-arts-header h1 input:focus[type=text] {
  box-shadow: none;
}

.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-header,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-header,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-header,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-header h2,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-header h2,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-header h2,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-header h2 {
  font-size: 28px;
  margin: 0 auto;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-header button,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-header button,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-header button,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-header button {
  position: fixed;
  right: 15px;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 500px;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-header,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-header,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-header,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-header h1,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-header h1,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-header h1,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-header h1 {
  font-size: 32px;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-header div,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-header div,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-header div,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-header div i,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-header div i,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-header div i,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-header div i {
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-header.extended div i,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-header.extended div i,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-header.extended div i,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-header.extended div i {
  transform: rotate(90deg);
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-content,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-content,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-content,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-content {
  display: none;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-content.extensible,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-content.extensible,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-content.extensible,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-content.extensible {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-content.extensible.extended,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-content.extensible.extended,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-content.extensible.extended,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-content.extensible.extended {
  grid-template-rows: 1fr;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-content.extensible div,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-content.extensible div,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-content.extensible div,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-content.extensible div {
  overflow: hidden;
}
.application.sheet.espers.magic-arts .magic-arts-abilities .abilities-list .espers-item .espers-item-content.extensible div .delete,
.application.sheet.espers.magic-arts .magic-arts-abilities .skill-list .espers-item .espers-item-content.extensible div .delete,
.application.sheet.espers.magic-arts .magic-arts-skills .abilities-list .espers-item .espers-item-content.extensible div .delete,
.application.sheet.espers.magic-arts .magic-arts-skills .skill-list .espers-item .espers-item-content.extensible div .delete {
  justify-self: end;
  margin-top: 20px;
}

.application.sheet.espers .window-header {
  background: #d9ab42;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3);
}
.application.sheet.espers .window-header .window-title,
.application.sheet.espers .window-header button {
  color: #202020;
}

.theme-dark .application.sheet.espers {
  background-image: url("../../assets/images/background/dark-parchment.png");
  background-repeat: no-repeat;
  background-position: center;
}

.theme-light .application.sheet.espers {
  background-image: url("../../assets/images/background/light-parchment.png");
  background-repeat: no-repeat;
  background-position: center;
}

.espers .tab {
  padding-top: 2rem;
}
.espers .tab.effects.active {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.espers .tab.description.active {
  padding-top: 0.75rem;
}

.application.sheet.espers input[type=text],
.application.sheet.espers input[type=number],
.application.sheet.espers select {
  background: light-dark(transparent, transparent);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0196078431);
  backdrop-filter: blur(9.5px);
  color: light-dark(#222, #f5f0e8);
  border: 1px solid light-dark(#222, #d9ab42);
  outline: 1px solid transparent;
  transition: all 0.3s ease;
}
.application.sheet.espers input[type=text]:hover, .application.sheet.espers input[type=text]:hover[type=text], .application.sheet.espers input[type=text]:hover[type=number], .application.sheet.espers input[type=text]:focus, .application.sheet.espers input[type=text]:focus[type=text], .application.sheet.espers input[type=text]:focus[type=number],
.application.sheet.espers input[type=number]:hover,
.application.sheet.espers input[type=number]:hover[type=text],
.application.sheet.espers input[type=number]:hover[type=number],
.application.sheet.espers input[type=number]:focus,
.application.sheet.espers input[type=number]:focus[type=text],
.application.sheet.espers input[type=number]:focus[type=number],
.application.sheet.espers select:hover,
.application.sheet.espers select:hover[type=text],
.application.sheet.espers select:hover[type=number],
.application.sheet.espers select:focus,
.application.sheet.espers select:focus[type=text],
.application.sheet.espers select:focus[type=number] {
  background: light-dark(rgba(52, 52, 52, 0.1254901961), rgba(217, 171, 66, 0.2509803922));
  box-shadow: none;
  outline: 1px solid light-dark(#222, #d9ab42);
}
.application.sheet.espers input[type=text] option, .application.sheet.espers input[type=text] optgroup,
.application.sheet.espers input[type=number] option,
.application.sheet.espers input[type=number] optgroup,
.application.sheet.espers select option,
.application.sheet.espers select optgroup {
  color: #f5f0e8;
  background: #222;
  border-radius: 6px;
}
.application.sheet.espers input[type=checkbox]:checked::after,
.application.sheet.espers input[type=radio]:checked::after {
  color: light-dark(#222, #d9ab42);
}
.application.sheet.espers input[type=checkbox]:checked::before,
.application.sheet.espers input[type=radio]:checked::before {
  color: light-dark(rgba(52, 52, 52, 0.2509803922), rgba(217, 171, 66, 0.2509803922));
}
.application.sheet.espers input[type=checkbox]::before,
.application.sheet.espers input[type=radio]::before {
  color: light-dark(rgba(52, 52, 52, 0.2509803922), rgba(217, 171, 66, 0.2509803922));
}

.application.sheet.espers .item-sheet-header {
  display: flex;
  gap: 20px;
  padding-bottom: 0.75rem;
}
.application.sheet.espers .item-sheet-header .image {
  height: 125px;
  width: 125px;
  border-radius: 10px;
  cursor: pointer;
}
.application.sheet.espers .item-sheet-header .item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.application.sheet.espers .item-sheet-header .item-info input {
  font-size: 32px;
  height: 42px;
  text-align: center;
  transition: all 0.3s ease;
  outline: 2px solid transparent;
  border: 1px solid transparent;
}
.application.sheet.espers .item-sheet-header .item-info input:hover[type=text], .application.sheet.espers .item-sheet-header .item-info input:focus[type=text] {
  box-shadow: none;
}
.application.sheet.espers .item-sheet-header .item-header-tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 12px;
  width: 60px;
  text-align: center;
}
.application.sheet.espers .item-sheet-header .item-header-tags .tags {
  display: flex;
  justify-content: space-between;
}
.application.sheet.espers .item-sheet-header .item-header-tags .tags span {
  width: 20px;
}

.espers .sheet-section {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: light-dark(rgba(52, 52, 52, 0.062745098), rgba(217, 171, 66, 0.062745098));
  border-radius: 6px;
}
.espers .sheet-section.item-section, .espers .sheet-section.settings-section {
  padding: 1rem;
}
.espers .sheet-section.sheet-description {
  display: block;
  padding: 0.5rem;
  min-height: 4rem;
}
.espers .sheet-section .section-header {
  box-sizing: content-box;
  position: absolute;
  margin: 0;
  padding: 0 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  top: -0.75rem;
  font-size: var(--font-size-14);
  color: light-dark(#f5f0e8, #222);
  background: light-dark(#222, #d9ab42);
  border: 1px solid light-dark(#222, #d9ab42);
  border-radius: 3px;
}
.espers .sheet-section .items-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.espers .sheet-section .items-list .item-line {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.espers .sheet-section .items-list .item-line .effect-line {
  display: flex;
  align-items: center;
  gap: 5px;
}
.espers .sheet-section .items-list .item-line .effect-line .image {
  height: 40px;
  width: 40px;
  border-radius: 6px;
}
.espers .sheet-section .items-list .item-line .effect-line h4 {
  margin: 0;
}
.espers .sheet-section .items-list .item-line .effect-line .controls {
  margin-left: auto;
}
.espers .sheet-section .settings-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

/*# sourceMappingURL=espers.css.map */
