$primary-yellow: #d9ab42;
$primary-yellow-10: #d9ab4210;
$primary-yellow-20: #d9ab4220;
$primary-yellow-40: #d9ab4240;

$beige: #f5f0e8;
$beige-10: #f5f0e810;
$beige-20: #f5f0e820;
$beige-40: #f5f0e840;
$beige-50: #f5f0e850;

$dark: #222;
$dark-10: #34343410;
$dark-20: #34343420;
$dark-40: #34343440;

$black-30: #00000030;
$black-05: #00000005;

$medium-red: #d04747;
$medium-red-10: #d0474710;
$medium-red-40: #d0474740;

$red: #e54e4e;
$red-10: #e54e4e10;
$red-40: #e54e4e40;

$blue: #4EB0E6;
$blue-10: #4EB0E610;
$blue-40: #4EB0E640;

$medium-blue: #47A1D1;
$medium-blue-10: #47A1D110;
$medium-blue-40: #47A1D140;

$green: #3D8882;
$green-10: #3D888210;
$green-40: #3D888240;

$purple: #7A6BB4;
$purple-10: #7A6BB410;
$purple-40: #7A6BB440;