$primary-yellow: #d9ab42;
$primary-yellow-10: #d9ab4210;
$primary-yellow-20: #d9ab4220;
$primary-yellow-40: #d9ab4240;

$beige: #f5f0e8;

$dark: #222;
$dark-10: #34343410;
$dark-20: #34343420;
$dark-40: #34343440;

$black-30: #00000030;
$black-05: #00000005;
