$primary-yellow: #d9ab42;
$primary-yellow-40: rgba(217, 171, 66, 0.4);

$beige: #f5f0e8;

$dark: #222;
$dark-20: rgba(34, 34, 34, 0.2);
$dark-40: rgba(34, 34, 34, 0.4);

$black-30: rgba(0, 0, 0, 0.3);
$black-05: rgba(0, 0, 0, 0.05);
