@import '../../utils/color.scss';

.application.espers.actor.character .tab.equipment.active {
  .sheet-section .equipped-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;

    img {
      border-radius: 3px;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    p {
      margin: 0;
    }
  }
}