@import '../../utils/color.scss';

.application.espers.actor.character {
    .d-flex {
        display: flex;
    }

    .gap-10 {
        gap: 10px;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .first-row {
            display: flex;
            gap: 10px;
            align-items: center;

            button {
                width: 15ch;
            }

            h4 {
                margin: 0;
                width: 8ch;
            }

            .title {
                line-height: 0;
                margin: 0;
                width: -webkit-fill-available;

    
                input {
                    font-size: 32px;
                    height: 42px;
                    text-align: start;
                    transition: all 0.3s ease;
                    outline: 2px solid transparent;
                    border: 1px solid transparent;
        
                    &:hover[type='text'],
                    &:focus[type='text'] {
                        background: light-dark($dark-20, $primary-yellow-40);
                        box-shadow: none;
                        outline: 1px solid light-dark($dark, $primary-yellow);
                    }
                }
            }
        }


        .second-row {
            display: flex;
            gap: 10px;

            .stats {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 200px;

                .stat {
                    height: -webkit-fill-available;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: 120% 120%;
                        background-size: 48px;
                        opacity: 0.7;
                        z-index: -1;
                    }

                    .label {
                        top: 3px;
                        left: 5px;
                        margin: 0;
                        font-size: 20px;
                    }

                    .value {
                        // position: absolute;
                        bottom: 2px;
                        left: 8px;
                        margin: 0;
                        font-size: 22px;
                    }

                    &.strength::before {
                        background-image: url('../../assets/svgs/clubs.svg');
                    }

                    &.intelligence::before {
                        background-image: url('../../assets/svgs/diamonds.svg');
                    }

                    &.dexterity::before {
                        background-image: url('../../assets/svgs/hearts.svg');
                    }

                    &.charisma::before {
                        background-image: url('../../assets/svgs/spades.svg');
                    }
                }
            }

            .char-info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                height: 200px;

                .life-bar {
                    display: flex;
                    align-items: center;
                    background-color: $medium-red-40;
                    border-radius: 5px;
                    position: relative;
                    height: 30px;

                    .label {
                        margin: 0;
                    }

                    .bar {
                        display: flex;
                        padding: 0 5px;
                        font-size: 1rem;
                        width: 100px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        z-index: 2;

                        .bar-input {
                            display: flex;
                            align-items: center;
                            background: transparent;
                            font-size: 1rem;
                            width: 40px;
                            height: 30px;
                            text-align: center;
                            border: none;
                            outline: 2px solid transparent;
                            color: $beige;

                            &.bar-input {
                                padding: 0;
                                color: $beige;
                                backdrop-filter: none;
                                background: transparent;
                                transition: all 0.3s ease;

                                &:hover,
                                &:focus {
                                    background: $dark-10;
                                    backdrop-filter: blur(9.5px);
                                }
                            }
                        }

                        p {
                            align-self: center;
                            margin: 0;
                        }

                        .bar-label {
                            width: 40px;
                            height: 30px;
                            align-content: center;
                        }
                    }

                    .progress-bar {
                        position: absolute;
                        right: 0;
                        top: 0;
                        appearance: none;
                        width: 100px;
                        height: 30px;
                        border-radius: 6px;
                        z-index: 1;
                        background: $dark;

                        &::-webkit-progress-bar {
                            border: none;
                            background: $red-40;
                            border-radius: 6px;
                        }
                        &::-webkit-progress-value {
                            background: $red;
                            border-radius: 6px;
                        }
                        &::-moz-progress-bar {
                            background: $red;
                            border-radius: 6px;
                        }
                    }
                }

                .defense {
                    display: flex;
                    align-items: center;
                    background-color: $medium-blue-40;
                    border-radius: 5px;
                    height: 30px;
                    width: 100%;
                }

                .gild {
                    display: flex;
                    align-items: center;
                    background-color: $primary-yellow-40;
                    border-radius: 5px;
                    height: 30px;
                    width: 100%;
                }

                .cards {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: auto;

                    .divider {
                        margin: 0;
                        font-size: 20px;

                        &::before,
                        &::after {
                            border-color: $primary-yellow;
                        }
                    }

                    .nipe {
                        display: flex;
                        justify-content: space-between;

                        p {
                            margin: 0;
                            text-transform: uppercase;
                        }

                        &.clubs p.selected {
                            color: $green;
                        }

                        &.diamonds p.selected {
                            color: $blue;
                        }

                        &.hearts p.selected {
                            color: $red;
                        }

                        &.spades p.selected {
                            color: $purple;
                        }

                        .icon {
                            height: 20px;
                            width: 20px;
                            border-radius: 3px;
                            background-size: 16px;
                            background-repeat: no-repeat;
                            background-position: center;

                            &.clubs {
                                background-image: url('../../assets/svgs/clubs.svg');
                            }

                            &.diamonds {
                                background-image: url('../../assets/svgs/diamonds.svg');
                            }

                            &.hearts {
                                background-image: url('../../assets/svgs/hearts.svg');
                            }

                            &.spades {
                                background-image: url('../../assets/svgs/spades.svg');
                            }
                        }
                    }
                }
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 3px;
                cursor: pointer;
            }
        }

        .tird-row {
            display: flex;
            gap: 16px;
        }
    }
}