@import '../../utils/color.scss';

.theme-dark {
    .application.sheet.espers .tab.equipment.active .equipped-section {
        background-image: url('../../assets/images/background/dark-parchment.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.theme-light {
    .application.sheet.espers .tab.equipment.active .equipped-section {
        background-image: url('../../assets/images/background/light-parchment.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.application.espers.actor.character {
    .tab.notes.active {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .sheet-section.sheet-description {
            display: flex;
            max-height: 14rem;
            min-height: 7rem;
        }
    }

    .tab.inventory.active {
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: 100%;

        .equipped-section {
            position: absolute;
            right: -100%;

        }
    }

    .tab.equipment.active  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      height: 100%;

      .sheet-section {
        max-width: calc(50% - 20px);
        min-height: 60px;

        .item {
          padding-top: 20px;
        }
      }
    }

    .tab.magicArts.active  {
      display: flex;
      gap: 20px;
    }

    .tab.notes.active,
    .tab.inventory.active,
    .tab.equipment.active,
    .tab.magicArts.active  {
        overflow-y: auto;
    }
}