@import '../utils/color.scss';

.application.sheet.espers {
    input[type='text'],
    input[type='number'],
    select {
        background: light-dark(transparent, transparent);
        border-radius: 6px;
        box-shadow: 0 4px 30px $black-05;
        backdrop-filter: blur(9.5px);
        color: light-dark($dark, $beige);
        border: 1px solid light-dark($dark, $primary-yellow);
        outline: 1px solid transparent;
        transition: all 0.3s ease;

        &:hover,
        &:hover[type='text'],
        &:hover[type='number'],
        &:focus,
        &:focus[type='text'],
        &:focus[type='number'] {
            background: light-dark($dark-20, $primary-yellow-40);
            box-shadow: none;
            outline: 1px solid light-dark($dark, $primary-yellow);
        }

        & option,
        & optgroup {
            color: $beige;
            background: $dark;
            border-radius: 6px;
        }
    }
}
